.productCategories.pt-section.productCategories--3
	.container
		.productCategories__list
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/9.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Solution for measuring body temperature
						.mt-3.fs-16 
							p Thermal cameras quickly and accurately identify the temperature of several people simultaneously and, in conjunction with facial recognition, can generate automatic alerts even if the person is wearing a mask, glasses or helmet. The solution is able to distinguish a person from an animal or a hot object, and can also be used in the measurement of equipment temperature, fire control, perimeter invasions and much more.
						a.btn.btn--main--outline.mt-4(href='solution-1.html')
							span.btn__text Discover the new Intelbras campaign!
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/10.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Intelbras Guardian
						.mt-3.fs-16 
							p All control of the security system is in the palm of your hand. With the Intelbras Guardian application, you integrate the operation of your alarm system and security cameras, all with practicality and efficiency to make your home or establishment safer.
						a.btn.btn--main--outline.mt-4(href='solution-2.html')
							span.btn__text Know the detail
							span.btn__icon--right.fal.fa-chevron-right
			.row.productCategory.align-items-center
				.col-md-6
					.productCategory__img
						img.lazyload.blur-up.object-cover(data-src="/images/product-categories/11.jpg")
				.col-md-6
					.productCategory__caption
						h4.fw-300.fs-32 Digital Locks
						.mt-3.fs-16 
							p Leave fragile keys and locks behind. With digital locks you have the freedom to open doors with a password, with your fingerprint or proximity keyrings, and you are sure that the door will always be locked.
						a.btn.btn--main--outline.mt-4(href='solution-3.html')
							span.btn__text Know your responsibilities
							span.btn__icon--right.fal.fa-chevron-right
.productCategories.pd-section.productCategories--4
	.container
		.container--custom
			.row
				.col-md-6.py-2
					.card
						a.card__link(href="#")
							.card__img
								+svg("/images/index/icon-1.svg")
							.card__caption.pl-3
								h4.cardTitle.fs-20 Find the nearest retailer
									span.fal.fa-chevron-right
				.col-md-6.py-2
					.card
						a.card__link(href="#")
							.card__img
								+svg("/images/index/icon-1.svg")
							.card__caption.pl-3
								h4.cardTitle.fs-20 Talk to our technical support
									span.fal.fa-chevron-right