extends views/_layouts/layout

block var
	- bodyClass = "form-filter-page"
	- pageTitle = "Support - Form Filter Technical"

block main
	.pageContainer
		include views/support-form-filter-technical/s-1