header.header__2 
    .container 
        .d-flex.align-items-center.flex-wrap
            .header__logo 
                a(href="blog-start.html")
                    img.lazyload.blur-up(src='https://blog.intelbras.com.br/wp-content/themes/intelbras_blog/img/logo-intelbras-menu.png')
            .header__btn
            .header__main 
                ul.fw-600.d-flex
                    li
                        a(href="blog-start.html") Start 
                    li
                        a(href="blog-about.html") About Us 
                    li
                        a(href="blog-contact.html") Contact 
                    li
                        a(href="/") Site
            .header__search.d-flex.align-items-center
                input.form-control(type="text" placeholder="Busca")
                button(type="submit")