.form-filter-simple-banner.contact-simple-banner
	.img
		img.object-cover(src="/images/banners/form-filter.png")
	.caption.text-center
		.container
			h1.fs-22.fw-300 Technical Support
			p.fs-20.mt-1 We are here to help you, contact us.
.contact-section.pd-section
	.container
		.row.tab-container
			.col-md-3
				.tab-toggle-item-list
					.tab-toggle-for
						a(href="contact-us.html")
							.d-flex.align-items-center
								.img
									+svg("/images/message.svg")
								.caption
									p.fs-16 Contact Us
					.tab-toggle-for
						a(href="call-center.html")
							.d-flex.align-items-center
								.img
									+svg("/images/attendance.svg")
								.caption
									p.fs-16 Call Center
					.tab-toggle-for.active
						a(href="technical-support.html")
							.d-flex.align-items-center
								.img
									+svg("/images/technical.svg")
								.caption
									p.fs-16 Technical Support
			.col-md-1
			.col-md-8
				.tab-content
					.col-sm-6.col-xl-4.mb-4
						.product.fullsize
							h4.cardTitle.product__title.mt-1.mb-2 Produto selecionado
							.product__url.fullsize
								.product__img
									img.lazyload.blur-up(data-src="/images/products/1.png")
								.product__caption
									p.product__subTitle.fs-16.mt-1 VEX 3060KM
									h4.cardTitle.product__title.mt-1 KVM Extender (Video and Data)
									a.product__subTitle.fs-16.mt-1(href="technical-support.html" style="color:#2b2") Change product
										span.fal.fa-chevron-right.ml-1.fs-13
					.col.mb-4
		
						p.fs-16.mt-1.mb-2 Number Phone of Technical Support:
						table.table(style="max-width:500px; width:100%")
							tbody 
								tr
									td.py-1 
										p.fs-16 Aracaju 
									td.py-1.text-right
										a.fs-20(href="#" style="color:#2b2") (79) 3028-9126 
								tr
									td.py-1 
										p.fs-16 Aracaju 
									td.py-1.text-right
										a.fs-20(href="#" style="color:#2b2") (79) 3028-9126 