.form-filter-simple-banner
	.img
		img.object-cover(src="/images/banners/form-filter.png")
	.caption.text-center
		.container
			h1.fs-22 Technical Assistance
			p.fs-16.mt-1 Always close to care, connect, communicate and transform
.form-filter.pd-section
	.container 
		.block__result--slider
			.swiper-container 
				.swiper-wrapper
					.swiper-slide 
						.product.fullsize
							.product__url.fullsize
								.product__img
									img.lazyload.blur-up(data-src="/images/ap_360.png")
								.product__caption
									p.product__subTitle.fs-16.mt-1 Intelbras Management Software
									h4.cardTitle.product__title.mt-1 SIS
								.product__link.fs-14.mt-1.mb-2.fw-500
									a(href="support-form-filter-technical.html")
										span.txt Redo search
										span.fal.fa-chevron-right.ml-1
		.block__search-suggesstion.mt-5.pt-0.text-center.mt-4
			h3.fs-22.fw-300.mb-2 Technical Support at: 1 Phan Van Hon Streets, Tan Thoi Nhat Wards, District 12, HCM City